@import url("//hello.myfonts.net/count/2d9959");
/*

    Theme Name: Keyport
    Theme URI: http://www.keyportllc.com/
    Author: Graphiti
    Author URI: http://www.graphiti.com/
    Description: Keyport
    Version: 1.0

    TABLE OF CONTENTS

    01  Defaults
    02  Typography
    03  Basic Layout
    04  Header
    05  Footer
    06  Home
    07  Products
    08  Products Single
    09  Retail
    10  Wholesale
    11  About
    12  Contact
    13  Media Queries
        - 600
        - 768
        - 1024
        - 1200

*/
/*

    ----------------------------------------------------------------------
                                01 Defaults
    ----------------------------------------------------------------------

*/
/* HTML5 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
    display: block;
}
audio,
canvas,
video {
    display: block;
    *display: inline;
    *zoom: 1;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
[hidden] {
    display: none;
}
/* HTML & BODY */

html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
html,
button,
input,
select,
textarea {
    font-family: sans-serif;
}
body {
    margin: 0;
    font-size: 1em;
    line-height: 1.4;
}
/* Links */

a {
    text-decoration: none;
}
a:focus {
    outline: 0;
}
a:hover,
a:active {
    outline: 0;
}
/* Typography */

abbr[title] {
    border-bottom: 1px dotted;
}
b,
strong {
    font-weight: 600;
}
i,
em {
    font-style: italic;
}
blockquote {
    margin: 0;
}
dfn {
    font-style: italic;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
ins {
    background: #ff9;
    color: #000;
    text-decoration: none;
}
mark {
    background: #ff0;
    color: #000;
}
p,
pre {
    margin: 1em 0;
}
code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    _font-family: 'courier new', monospace;
    font-size: 1em;
}
pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}
q {
    quotes: none;
}
q:before,
q:after {
    content: '';
    content: none;
}
small {
    font-size: 80%;
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    font-weight: normal;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}
/* Lists */

dd {
    margin: 0 0 0 40px;
}
ul,
ol {
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
}
/* Embedded Content */

img {
    border: 0;
    -ms-interpolation-mode: bicubic;
    vertical-align: middle;
}
svg:not(:root) {
    overflow: hidden;
}
/* Figure */

figure {
    margin: 0;
}
/* Forms */

form {
    margin: 0;
}
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
label {
    cursor: pointer;
}
legend {
    border: 0;
    *margin-left: -7px;
    padding: 0;
    white-space: normal;
}
button,
input,
select,
textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    *vertical-align: middle;
}
button,
input {
    line-height: normal;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
    *overflow: visible;
}
button[disabled],
input[disabled] {
    cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
    *width: 13px;
    *height: 13px;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}
input:valid,
textarea:valid {} input:invalid,
textarea:invalid {}
/* Tables */

table {
    border-collapse: collapse;
    border-spacing: 0;
}
td {
    vertical-align: top;
}
/* Absolute Positioning */

div,
article,
section,
header,
footer,
nav,
figure,
li {
    position: relative;
}
/* Selection  */

::-moz-selection {
    background: #f69523;
    color: #fff;
    text-shadow: none;
}
::selection {
    background: #f69523;
    color: #fff;
    text-shadow: none;
}
/* Clearfix */

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
/* Border-Box */

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
/* Image replacement */

.ir {
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
}
/*

    ----------------------------------------------------------------------
                                02 Typography
    ----------------------------------------------------------------------


font-family: 'Sanchez Bold'
font-family: 'Sanchez SemiBold'
font-family: 'Sanchez'
font-family: 'Sanchez SemiBold Italic'

    font-family: 'Sanchez', serif;
    400

    font-family: "proxima-nova",sans-serif;
    400
    700


*/

@font-face {
    font-family: 'Sanchez';
    src: url('webfonts/2D9959_7_0.eot');
    src: url('webfonts/2D9959_7_0.eot?#iefix') format('embedded-opentype'), url('webfonts/2D9959_7_0.woff2') format('woff2'), url('webfonts/2D9959_7_0.woff') format('woff'), url('webfonts/2D9959_7_0.ttf') format('truetype');
}
@font-face {
    font-family: 'Sanchez Italic';
    src: url('webfonts/2D9959_4_0.eot');
    src: url('webfonts/2D9959_4_0.eot?#iefix') format('embedded-opentype'), url('webfonts/2D9959_4_0.woff2') format('woff2'), url('webfonts/2D9959_4_0.woff') format('woff'), url('webfonts/2D9959_4_0.ttf') format('truetype');
}
@font-face {
    font-family: 'Sanchez SemiBold';
    src: url('webfonts/2D9959_B_0.eot');
    src: url('webfonts/2D9959_B_0.eot?#iefix') format('embedded-opentype'), url('webfonts/2D9959_B_0.woff2') format('woff2'), url('webfonts/2D9959_B_0.woff') format('woff'), url('webfonts/2D9959_B_0.ttf') format('truetype');
}
@font-face {
    font-family: 'Sanchez SemiBold Italic';
    src: url('webfonts/2D9959_A_0.eot');
    src: url('webfonts/2D9959_A_0.eot?#iefix') format('embedded-opentype'), url('webfonts/2D9959_A_0.woff2') format('woff2'), url('webfonts/2D9959_A_0.woff') format('woff'), url('webfonts/2D9959_A_0.ttf') format('truetype');
}
@font-face {
    font-family: 'Sanchez Bold';
    src: url('webfonts/2D9959_B_0.eot');
    src: url('webfonts/2D9959_B_0.eot?#iefix') format('embedded-opentype'), url('webfonts/2D9959_B_0.woff2') format('woff2'), url('webfonts/2D9959_B_0.woff') format('woff'), url('webfonts/2D9959_B_0.ttf') format('truetype');
}
@font-face {
    font-family: 'Sanchez Bold Italic';
    src: url('webfonts/2D9959_1_0.eot');
    src: url('webfonts/2D9959_1_0.eot?#iefix') format('embedded-opentype'), url('webfonts/2D9959_1_0.woff2') format('woff2'), url('webfonts/2D9959_1_0.woff') format('woff'), url('webfonts/2D9959_1_0.ttf') format('truetype');
}
/* Rendering & Ligatures */

html,
input,
textarea {
    -webkit-font-smoothing: antialiased;
}
body {
    text-rendering: optimizeLegibility;
}
/* Fonts */

body,
input,
textarea {
    color: #1a1a1a;
    font-family: "proxima-nova", sans-serif;
}
/* Link Colors */

a {
    color: #1a1a1a;
}
a:hover,
a.active {
    color: #ec212c;
}
/* Headers */

h1 {
    font-size: 3em;
    line-height: 1em;
    font-weight: 300;
}
h2 {
    font-size: 2.25em;
    line-height: 1em;
    font-weight: 300;
}
h3 {
    font-size: 1.5em;
    line-height: 1.25em;
    font-weight: 400;
}
h4 {
    font-size: 1.25em;
    line-height: 1em;
    font-weight: 400;
}
p {
    font-size: 1.125em;
    line-height: 1.375em;
}
/*

    ----------------------------------------------------------------------
                                03 Layout
    ----------------------------------------------------------------------

*/

html {
    background: #fff;
}
body,
header,
footer,
section,
nav {
    width: 100%;
    float: left;
}
.wrapper {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 5%;
}
img {
    display: block;
    max-width: 100%;
}
#get-in-touch {
    color: #fff;
    padding: 75px 0;
    text-align: center;
    border-top: 10px solid #fff;
    border-bottom: 10px solid #fff;
}
#get-in-touch h2 {
    font-family: 'Sanchez Bold';
    font-size: 2em;
    text-align: center;
    padding: 0 0 20px 0;
    text-transform: uppercase;
    letter-spacing: 1px;
}
#home #get-in-touch h2 {
    padding: 0 0 20px 0;
}
#get-in-touch a {
    color: #fff;
    font-family: 'Sanchez Bold';
    text-decoration: underline;
}
#get-in-touch p {
    font-size: 1.125em;
    line-height: 1.125em;
    font-family: 'Sanchez SemiBold';
}
#get-in-touch.channel p br {
    display: none;
}
body div.wpcf7-response-output {
    padding: 15px 0 0 0;
    margin: 0;
    border: none;
    font-size: 0.875em;
    width: 100%;
    float: left;
}
body span.wpcf7-not-valid-tip {
    color: #fff;
    display: inline-block;
    border-bottom: 1px dotted red;
}
/*

    ----------------------------------------------------------------------
                                04 Header
    ----------------------------------------------------------------------

*/

header {
    padding: 25px 0;
    color: #ccc;
    background: #383738 !important;
}
header > .backstretch {
    display: none;
}
header #header-contact {
    display: none;
}
header #crab {
    display: none;
    background: url(img/SmallTransparentCrab.png) no-repeat 0 0;
    width: 343px;
    height: 259px;
    position: absolute;
    left: -5%;
    top: -35px;
    z-index: -1;
}
#home header > .backstretch,
#home header #crab {
    display: block;
}
header .wrapper {
    max-width: none;
    padding: 0 5%;
}
header #logo {
    float: left;
    max-width: 170px;
}
header #mobile-nav {
    display: block;
    float: right;
    color: #fff;
    font-size: 2em;
    line-height: 1em;
    margin-top: -3px;
}
.dropdown-wrapper {
    display: none;
}
.dropdown-wrapper .wrapper {
    max-width: 770px;
}
nav {
    display: none;
    background: #fff;
}
nav ul {
    text-align: center;
    padding: 10px 0;
}
nav ul li {
    font-family: 'Sanchez SemiBold';
}
nav ul li a {
    text-transform: uppercase;
    color: #7f7f7f;
}
nav ul li a:hover,
nav ul li a.active {
    color: #181718;
}
nav #sticky-logo {
    display: none;
}
/*

    ----------------------------------------------------------------------
                                05 Footer
    ----------------------------------------------------------------------

*/

footer {
    background: #373637;
    color: #898989;
    padding: 20px 0 0 0;
}
footer p {
    font-size: 0.875em;
    line-height: 1.125em;
}
footer a {
    color: #898989;
}
footer a:hover {
    color: #fff;
}
footer .wrapper > div {
    width: 100%;
    float: left;
    margin: 0 0 30px 0;
}
#footer-email-capture {
    position: fixed;
    bottom: -365px;
    width: 375px;
    height: 415px;
    background-color: #898989;
    color: #1a1a1a;
    -webkit-transition-duration: 0.35s;
    -moz-transition-duration: 0.35s;
    -ms-transition-duration: 0.35s;
    -o-transition-duration: 0.35s;
    transition-duration: 0.35s;
    z-index: 1000000;
    right: 50px;
    opacity: .9;
}
.nl-title {
    padding: 20px 15px;
    cursor: pointer;
    text-align: center;
}
.nl-title img {
    width: 17px;
    float: left;
}

.rotated {
  transform: rotate(45deg);
  -ms-transform: rotate(45deg); /* IE 9 */
  -moz-transform: rotate(45deg); /* Firefox */
  -webkit-transform: rotate(45deg); /* Safari and Chrome */
  -o-transform: rotate(45deg); /* Opera */
}
#footer-email-capture.open
{
    bottom: 0px;
    opacity: 1;
}
footer #footer-contact-info p {
    margin: 0 0 15px 0;
}
footer #footer-email-capture h4 {
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 700;
}
footer #footer-email-capture form {
    width: 90%;
    margin: 0 auto;
}
footer #footer-email-capture form br {
    display: none;
}
footer #footer-email-capture form p {
    margin: 0;
}
footer #footer-email-capture form input{
    display: block;
    padding: 5px;
    margin: 0 0 10px 0;
    font-family: 'Sanchez';
    width: 100%;
}
footer #footer-email-capture span {
    float: left;
    width: 100%;
}
footer #footer-email-capture span.Fisrtname {
    float: left;
    width: 48%;
}
footer #footer-email-capture span.Lastname {
    float: right;
    width: 48%;
}
footer #footer-email-capture form input[type="submit"] {
    font-family: 'Sanchez Bold';
    font-size: 16px;
    background: none;
    letter-spacing: 1px;
    border: 2px solid;
    padding: 10px;
    width: auto;
    display: block;
    margin: 10px 0 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    color: white;
    float: left;
}
div#captcha-field {
    float: left;
    width: 100%;
    margin: 15px 0 10px;
}
footer #footer-email-capture .wpcf7-response-output {
    margin: 0;
    border: none;
    padding: 0;
    color: white;
}
footer #footer-nav {
    font-size: 0.875em;
    line-height: 1.125em;
    font-weight: bold;
}
footer #footer-nav ul {
    width: 50%;
    float: left;
}
footer #footer-nav ul li {
    margin: 0 0 5px 0;
}
footer #footer-nav .pages {
    text-transform: uppercase;
}
footer #copyright {
    padding: 10px 0;
    border-top: 1px solid #898989;
    margin: 20px 0 0 0;
}
footer #copyright p {
    font-size: 0.675em;
}
/*

    ----------------------------------------------------------------------
                                06 Home
    ----------------------------------------------------------------------

*/

#hero {
    color: #fff;
    padding: 50px 0;
}
#hero .info {
    width: 100%;
    padding: 30px 0;
    border-top: 4px solid #fff;
    border-bottom: 4px solid #fff;
    text-align: center;
}
section#hero h1 {
    font-family: 'Sanchez Bold';
    text-align: center;
}
section#hero h3 {
    text-align: center;
    font-family: 'Sanchez Bold';
    max-width: 700px;
    margin: 30px auto;
    line-height: 32px;
    font-size: 30px;
}
@media screen and (max-width: 680px) {
    section#hero h1 {
        font-size: 25px;
    }

    section#hero h3 {
        margin: 20px auto;
        line-height: 18px;
        font-size: 20px;
    }
    #footer-email-capture {
        right: 0;
        width: 100%;
    }
    .nl-title img {
        width: 10px;
    }
    footer #footer-email-capture h4 {
        font-size: 13px;
    }
}
.products h2 {
    font-family: 'Sanchez Bold';
    font-size: 2em;
    text-align: center;
    padding: 40px 0 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.products .title {
    background: url(img/products-crab.png) no-repeat 100% 0;
    margin: 10px auto;
}

.products .category {
    background: url(img/whitewoodtexture.jpg);
    margin: 0 0 10px 0;
    float: left;
    padding: 50px 0;
    width: 100%;
}
@media screen and (max-width: 480px) {
    .products .title {
        background-size: cover;
    }
}
.products-list .product { width: 100%; float: left; background: #fff; padding: 10px; box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.3); margin: 0 0 20px 0; }
.products-list .product .product-wrapper { width: 100%; float: left; position: relative; }
.products-list .product .overlay { opacity: 0; position: absolute; top: 0; left: 0; z-index: 10; width: 100%; height: 100%; color: #fff; padding: 0 10% 0 10%;
      -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;

     }


.products-list .product-king-crab .overlay { background: rgba(125, 28, 26, 0.85); }
.products-list .product-snow-crab .overlay { background: rgba(195, 128, 59, 0.85); }
.products-list .product-dungeness-crab .overlay { background: rgba(187, 95, 57, 0.85); }
.products-list .product-fishermans-feast .overlay { background: rgba(128, 128, 57, 0.85); }
.products-list .product-steamed-clams .overlay { background: rgba(11, 52, 63, 0.85); }
.products-list .product-steamed-mussels .overlay { background: rgba(121, 156, 156, 0.85); }

.products-list .product .overlay .label-wrap { margin-top: 37%; }

.products-list .product .overlay .label-wrap .label {  max-height: 110px; display: block; }

.products-list .product:hover .overlay { opacity: 1;; }


#home .products-list { overflow: hidden; padding: 75px 0; background: url(img/whitewoodtexture.jpg) repeat center top; }
#home .products-list {
    overflow: hidden;
    padding: 75px 0;
}
.products .category:hover {
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
}
.products .category:hover .product-list a {
    color: white;
}
.product-title {
    float: left;
    width: 40%;
    font-family: 'Sanchez';
    text-transform: uppercase;
    text-align: center;
}
.product-title-img-active {
    display: none
}
.products .category:hover .product-title-img-active {
    display: block;
}
.products .category:hover .product-title-img {
    display: none;
}
.product-list {
    float: left;
    width: 60%;
}
.product-list a {
    font-family: 'Sanchez Bold';
    font-size: 25px;
    letter-spacing: 1px;
    border: 2px solid;
    padding: 10px 20px;
    z-index:10;
    width: 47%;
    display: inline-block;
    margin: 0 10px 10px 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
}
.product-list a:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    width: 0;
    height: 103%;
    top: 50%;
    left: 50%;
    background: #fff;
    opacity: 0;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
.product-list a:hover:after {
    width: 101%;
    opacity: 1;
}
.product-list a:hover, .product-list a:active {
    border: 2px solid #fff;
    color: #7d8b98!important;
}
@media screen and (max-width: 1200px) {
    .bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
        display: block;
    }
    .bx-controls-direction {
        display: none;
    }
}
@media screen and (max-width: 768px) {
    .product-list a {
        width: 70%;
        font-size: 20px;
    }
    .product-title h3 {
        font-size: 23px;
    }
}
@media screen and (max-width: 680px) {
    .product-title {
        width: 100%;
        text-align: center;
        margin: 0 0 20px 0;
    }
    .product-list {
        width: 100%;
        text-align: center;
    }
}
section.news {
    background: url(img/blog-bg.jpg) no-repeat;
    padding: 0 0 50px 0;
    background-size: cover;
    margin: 10px 0 0 0;
}
section.news h2{
    color: white;
    font-family: 'Sanchez Bold';
    font-size: 31px;
    text-align: center;
    padding: 40px 0 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
section.news li {
    background: white;
    border-top: 5px solid red;
    padding: 40px 15px;
    min-height: 318px;
}
section.news p {
    font-family: 'Sanchez Bold';
    font-size: 15px;
    text-transform: uppercase;
}
section.news h6 {
    font-family: 'Sanchez Bold';
    font-size: 25px;
    margin: 10px 0;
    line-height: 30px;
}
section.news .desc p {
    text-transform: none;
    font-family: 'Sanchez';
    margin: 0 0 10px 0;
}
section.news .desc a {
    text-transform: uppercase;
    font-size: 18px;
    font-family: 'Sanchez';
    border: 1px solid;
    padding: 10px;
    margin: 15px 0 0;
    display: block;
    float: left;
}

section.news .bx-wrapper .bx-prev {
    background: url(img/Arrow_Left_Sprite1.png) no-repeat 0 -4px;
}
section.news .bx-wrapper .bx-prev:hover {
    background: url(img/Arrow_Left_Sprite1.png) no-repeat 0 -84px;
}
section.news .bx-wrapper .bx-next {
    background: url(img/Arrow_Right_Sprite1.png) no-repeat 0 -4px;
}
section.news .bx-wrapper .bx-next:hover{
    background: url(img/Arrow_Right_Sprite1.png) no-repeat 0 -84px;
}

/*

    ----------------------------------------------------------------------
                                07 Products
    ----------------------------------------------------------------------

*/

#products-archive {
    background: #fff;
    padding: 15px 0;
}
#products-archive .product {
    text-align: center;
    color: #fff;
    margin: 0 0 5px 0;
}
#products-archive .product:last-of-type {
    margin: 0;
}
#products-archive .product a {
    color: #fff;
    display: block;
    padding: 50px 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#products-archive .product .icon {
    display: block;
    margin: 0 auto;
    max-height: 64px;
}
#products-archive .product h3 {
    font-family: 'Sanchez Bold';
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 15px 0 0 0;
}
#products-archive #product-king-crab a:hover {
    background: rgba(125, 28, 26, 0.85);
}
#products-archive #product-snow-crab a:hover {
    background: rgba(195, 128, 59, 0.85);
}
#products-archive #product-dungeness-crab a:hover {
    background: rgba(187, 95, 57, 0.85);
}
#products-archive #product-fishermans-feast a:hover {
    background: rgba(128, 128, 57, 0.85);
}
#products-archive #product-steamed-clams a:hover {
    background: rgba(11, 52, 63, 0.85);
}
#products-archive #product-steamed-mussels a:hover {
    background: rgba(121, 156, 156, 0.85);
}
/*

    ----------------------------------------------------------------------
                                08 Products Single
    ----------------------------------------------------------------------

*/

.single-product {
    background: url(img/whitewoodtexture.jpg) repeat center top;
}
.single-product #hero .label-wrap .label {
    max-height: 200px;
}
section#hero .label-wrap h1 {
    font-size: 75px;
}
.single-product #hero .wrapper {
    max-width: none;
    padding: 0 5%;
}
.single-product #headline {
    background: rgba(125, 28, 26, 0.85);
}
#snow-crab.single-product #headline {
    background: rgba(195, 128, 59, 0.85);
}
#dungeness-crab.single-product #headline {
    background: rgba(187, 95, 57, 0.85);
}
#fishermans-feast.single-product #headline {
    background: rgba(128, 128, 57, 0.85);
}
#steamed-clams.single-product #headline {
    background: rgba(11, 52, 63, 0.85);
}
#steamed-mussels.single-product #headline {
    background: rgba(121, 156, 156, 0.85);
}
.single-product #headline {
    padding: 50px 0;
    text-align: center;
    color: #fff;
}
.single-product #headline .wrapper {
    max-width: 660px;
}
.single-product #headline h3 {
    font-family: 'Sanchez Bold';
    font-size: 2em;
    line-height: 1em;
}
.single-product #info {
    padding: 75px 0 30px 0;
    background: rgba(255, 255, 255, 0.5);
}
.single-product #info #gallery {
    width: 100%;
    float: left;
    margin: 0 0 30px 0;
}
.single-product #info #gallery .photo p {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.875em;
    margin: 15px 0 0 0;
}
.single-product #info #gallery .slick-dots {
    bottom: -15px;
}
.single-product #info #product-info {
    width: 100%;
    float: left;
    margin: 0;
    color: #404041;
}
.single-product #info #product-info .description p {
    font-family: 'Sanchez SemiBold Italic';
    font-size: 1.125em;
    line-height: 1.125em;
    color: #666;
    margin: 0 0 30px 0;
}
.single-product #info #product-info .attributes {
    border-top: 4px solid #808080;
    padding: 30px 0 0 0;
}
.single-product #info #product-info .attr {
    width: 100%;
    float: left;
    padding: 0 0 10px 0;
    border-bottom: 1px solid #808080;
    margin: 0 0 10px 0;
}
.single-product #info #product-info .attr h5 {
    font-size: 0.875em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.single-product #info #product-info .attr p {
    font-size: 0.875em;
}
.single-product #info #product-info .product-sheet {
    display: inline-block;
    padding: 0 0 0 18px;
    background: url(img/download.png) no-repeat 0 4px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #808080;
    text-transform: uppercase;
    font-size: 0.875em;
}
.single-product #info #product-info .wholesale-info {
    display: block;
    margin: 30px 0 0 0;
    padding: 16px 12px;
    font-family: 'Sanchez Bold';
    text-transform: uppercase;
    color: #fff;
    background: #635852;
    letter-spacing: 1px;
    line-height: 1em;
    text-align: center;
    font-size: 0.875em;
    float: left;
    width: 100%;
}
.single-product #other-products {
    display: none;
    padding: 30px 0 75px 0;
    background: rgba(255, 255, 255, 0.75);
}
.single-product #other-products h3 {
    font-family: 'Sanchez Bold';
    font-size: 1.5em;
    line-height: 1.125em;
    margin: 15px 0 15px 0;
    text-align: center;
    text-transform: uppercase;
}
.single-product #other-products .slick-track {
    padding: 30px 0;
}
.single-product #other-products .product {
    margin: 0 10px;
    padding: 5px;
}
.single-product #other-products .slick-prev,
.single-product #other-products .slick-next {
    display: none;
}
/*

    ----------------------------------------------------------------------
                                09 Retail
    ----------------------------------------------------------------------

*/
.hero-image {
    position: relative;
    height: 400px;
    overflow: hidden;
}
.hero-image img {
    position: absolute;
    width: 100%;
}
#retail section#hero .info {
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    margin: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
body#retail section#hero h1 {
    text-transform: capitalize;
    font-size: 75px;
}
body#retail section#hero {
        padding: 0;
}
#retail #info {
    background: url('img/retail-subheader-bg.jpg');
    color: #fff;
    border-top: 10px solid #fff;
    padding: 60px 0;
    text-align: center;
    background-size: 100%;
}
#retail #info .wrapper {
    max-width: 950px;
}
#retail #info .wrapper h2 {
    font-size: 26px;
    font-family: 'Sanchez';
}
#retail #info h4 {
    font-family: 'Sanchez Bold';
    font-size: 1.5em;
    line-height: 1.125em;
    margin: 0 0 15px 0;
}
#retail #info p em strong {
    font-family: 'Sanchez SemiBold Italic';
    font-style: normal;
    font-weight: normal;
}
#features {
    background: rgba(255, 255, 255, 0.75);
    padding: 75px 0 30px 0;
}
#features .feature {
    width: 100%;
    float: left;
    margin: 0 0 30px 0;
    text-align: center;
    color: #4a4645;
}
#features .feature .icon {
    max-width: 96px;
    margin: 0 auto 30px auto;
}
#features .feature h4 {
    padding: 0 0 15px 0;
    background: url(img/sep-gray-50.png) no-repeat center bottom;
    margin: 0 0 15px 0;
    font-family: 'Sanchez SemiBold';
    font-size: 1.125em;
    line-height: 1.125em;
}
#features .feature p {
    font-size: 0.825em;
    line-height: 1.25em;
}
section.related-products {
    background: url(img/products-slider-bg.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 0 10px 0;
}
ul.center, ul.center2{
    margin: 30px 0;
}
.center.slick-slider .slick-track, .center.slick-slider .slick-list, .center2.slick-slider .slick-track, .center2.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    padding: 0!important;
}
section.related-products li {
    width: 350px;
    height: 350px;
    padding: 20px;
}
.center .slick-center .photo img, .center2 .slick-center .photo img  {
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    opacity: 1;
    transform: scale(1.5);
}
.photo {
    display: none;
}
.photo:first-child {
    display: block;
    position: absolute;
    top: 20%;
}
.center .photo img {
    opacity: .7;
    max-width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
}
.center2 .photo img {
    opacity: .7;
    max-width: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
}
button.slick-next {
    left: -70px;
    background: url(img/Arrow_Left_Sprite.png) no-repeat 0 -4px;
}
button.slick-next:hover {
    background: url(img/Arrow_Left_Sprite.png) no-repeat 0 -84px;
}
button.slick-prev {
    right: -70px;
    background: url(img/Arrow_Right_Sprite.png) no-repeat 0 -4px;
}
button.slick-prev:hover {
    background: url(img/Arrow_Right_Sprite.png) no-repeat 0 -84px;
}
.center button, .center2 button {
    position: absolute;
    border:none;
    outline: 0;
    margin-top: -20%;
    width: 40px;
    height: 64px;
    z-index: 9999;
    color: transparent!important;
}
.center ul.slick-dots li, .center2 ul.slick-dots li {
    width: auto;
    height: 37px;
    padding: 0 10px;
}
@media screen and (max-width: 1420px) {
    .hero-image img {
        width: auto;
        max-width: inherit;
    }
}
@media screen and (max-width: 800px) {
    .hero-image {
        height: 300px;
    }
    #hero .info {
        width: 100%;
    }
    body#retail section#hero h1, body#about section#hero h1,body#wholesale section#hero h1, body#contact section#hero h1, section#hero .label-wrap h1  {
        font-size: 35px!important;
    }
}
@media screen and (max-width: 480px) {
    body#retail section#hero h1 {
        font-size: 25px;
        line-height: 30px;
    }
    #retail #info .wrapper h2 {
        font-size: 20px;
    }
}
#offerings {
    background: rgba(255, 255, 255, 0.75);
    padding: 30px 0 75px 0;
}
#offerings .wrapper > h3 {
    text-align: center;
    font-family: 'Sanchez SemiBold Italic';
    font-size: 1.25em;
    line-height: 1.25em;
    margin: 0 0 30px 0;
}
#offerings #filters {
    padding: 0 0 15px 0;
}
#offerings #filters ul {
    text-align: center;
}
#offerings #filters ul li {
    display: block;
}
#offerings #filters ul li a {
    padding: 10px 0;
    display: block;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.875em;
    line-height: 1em;
    color: #8b8b8b;
}
#offerings #filters ul li a span {
    display: inline-block;
    border-bottom: 5px solid transparent;
    padding: 0 0 10px 0;
}
#offerings #filters ul li a:hover span,
#offerings #filters ul li a.active span {
    color: #181718;
    border-bottom: 5px solid #181718;
}
#offerings .product {
    display: none;
}
#offerings .product.include {
    display: block;
}
/*

    ----------------------------------------------------------------------
                                10 Wholesale
    ----------------------------------------------------------------------

*/
#wholesale section#hero .info {
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    margin: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
body#wholesale section#hero h1 {
    text-transform: capitalize;
    font-size: 75px;
}
body#wholesale section#hero {
        padding: 0;
}
#wholesale #info {
    background: url('img/retail-subheader-bg.jpg');
    color: #fff;
    border-top: 10px solid #fff;
    padding: 60px 0;
    text-align: center;
    background-size: 100%;
}
#wholesale #info .wrapper {
    max-width: 950px;
}
#wholesale #info .wrapper h2 {
    font-size: 26px;
    font-family: 'Sanchez';
}
#wholesale #info h4 {
    font-family: 'Sanchez Bold';
    font-size: 1.5em;
    line-height: 1.125em;
    margin: 0 0 15px 0;
}
#wholesale #info p em strong {
    font-family: 'Sanchez SemiBold Italic';
    font-style: normal;
    font-weight: normal;
}
#wholesale #offerings .product {
    display: block;
}
/*

    ----------------------------------------------------------------------
                                Instructions
    ----------------------------------------------------------------------

*/

#instructions section#hero .info {
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    margin: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
body#instructions section#hero h1 {
    text-transform: capitalize;
    font-size: 75px;
}
body#instructions section#hero {
        padding: 0;
}
#instructions #info {
    background: url('img/retail-subheader-bg.jpg');
    color: #fff;
    border-top: 10px solid #fff;
    padding: 60px 0;
    text-align: center;
    background-size: 100%;
}
#instructions #info .wrapper {
    max-width: 950px;
}
section#cooking-instructions {
    background: url(img/whitewoodtexture.jpg);
    margin: 20px 0;
    float: left;
    width: 100%;
    padding: 50px 0
}
.recipe-titles {
    float: left;
    width: 25%;
    background: #383738;
    color: white;
    padding: 10px 30px 30px 30px;
}
.recipe-titles h3 {
    font-size: 18px;
    font-family: 'Sanchez';
    border-bottom: 1px solid white;
    padding: 5px 0;
    margin: 10px 0 5px;
}
.recipe-titles a {
    color: white;
    padding: 2px 5px;
    margin: 2px 0;
    display: block;
}
.recipe-titles a.active {
    background: white;
    color: #383738;
}
.recipes {
    float: right;
    width: 70%;
}
.recipe-card {
    background: white;
    padding: 50px;
}
.recipe-header h2 {
    font-family: 'Sanchez';
}
.recipe-header h3 {
    font-family: 'Sanchez';
    font-size: 30px;
    margin: 5px 0 10px;
}
.recipe-header p {
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}
.recipe-section {
    border-top: 2px solid;
    margin: 30px 0;
    padding: 30px 0;
}
.recipe-icon {
    display: inline-block;
    width: 20%;
    vertical-align: top;
}
.recipe-icon img {
    max-width: 80px;
}
.section-details {
    display: inline-block;
    width: 75%;
}
.section-details.full {
    width: 100%;
}
.section-details h4 {
    font-family: 'Sanchez';
    font-size: 24px;
    margin: 0 0 20px 0;
}
.section-details p {
    font-size: 16px;
    margin: 0 0 15px 0;
    line-height: 20px;
}

@media screen and (max-width: 800px) {
    .recipe-titles, .recipes, .recipe-icon, .section-details {
        display: block;
        width: 100%;
        margin: 0 0 30px 0;
    }
}

/*

    ----------------------------------------------------------------------
                                11 About
    ----------------------------------------------------------------------

*/

#about {
    background: url(img/whitewoodtexture.jpg) repeat center top;
}
body#about section#hero h1 {
    text-transform: capitalize;
    font-size: 75px;
}
#about #info {
    border-top: 10px solid #fff;
    padding: 75px 0 75px 0;
    color: #4a4645;
    background: url(img/worldmap_withtext.png) repeat-x center -50px;
    text-align: center;
}
#about #info .wrapper {
    max-width: 600px;
}
#about #info h4 {
    font-family: 'Sanchez Bold';
    font-size: 1.5em;
    line-height: 1.125em;
    margin: 0 0 15px 0;
}
#about #info p strong em {
    font-family: 'Sanchez SemiBold Italic';
    font-style: normal;
    font-weight: normal;
}
#about #story {
    background: rgba(79, 70, 69, 0.85);
    color: #fff;
    padding: 50px 0;
}
#about #story .wrapper > div {
    width: 100%;
    float: left;
}
#about #story .photos {
    padding: 20px 0 60px 0;
}
#about #story .photos img {
    border: 5px solid #fff;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.5);
}
#about #story .photos img:nth-child(1) {
    -ms-transform: rotate(-7deg);
    -webkit-transform: rotate(-7deg);
    transform: rotate(-7deg);
}
#about #story .photos img:nth-child(2) {
    -ms-transform: rotate(7deg);
    -webkit-transform: rotate(7deg);
    transform: rotate(7deg);
}
#about #story .text h4 {
    font-family: 'Sanchez SemiBold';
    font-size: 1.5em;
    padding: 0 0 20px 0;
    background: url(img/sep-white-50.png) no-repeat left bottom;
    margin: 0 0 20px 0;
}
#about #story .text p {
    font-size: 1em;
    line-height: 1.25em;
    margin: 0 0 15px 0;
    font-family: 'Sanchez SemiBold';
}
#about #story .text h5 {
    font-size: 0.875em;
}
/*

    ----------------------------------------------------------------------
                                12 Contact
    ----------------------------------------------------------------------

*/
body#contact section#hero h1 {
    text-transform: capitalize;
    font-size: 75px;
}
#contact {
    background: url(img/whitewoodtexture.jpg) repeat center top;
}
#contact #info {
    border-top: 10px solid #fff;
    padding: 75px 0 75px 0;
    color: #4a4645;
    text-align: center;
}
#contact #info p {
    font-family: 'Sanchez Bold';
    font-size: 1.5em;
    line-height: 1.125em;
}
#contact #info p a {
    color: #4a4645;
    text-decoration: underline;
}
#contact #form {
    background: rgba(79, 70, 69, 0.85);
    color: #fff;
    padding: 50px 0;
}
#contact #form p {
    text-align: center;
    padding: 0 0 30px 0;
    font-family: 'Sanchez SemiBold Italic';
}
#contact #form .wrapper {
    max-width: 720px;
}
#contact #form .field {
    width: 100%;
    float: left;
    margin: 0 0 20px 0;
}
#contact #form .field input,
#contact #form .field select {
    display: block;
    width: 100%;
    float: left;
}
#contact #form .field input {
    padding: 10px;
    border: none;
    color: rgb(79, 70, 69);
    font-size: 0.875em;
}
#contact #form .field.submit input {
    padding: 8px 16px;
    font-family: 'Sanchez Bold';
    text-transform: uppercase;
    color: #fff;
    background: #808080;
    border: none;
    letter-spacing: 1px;
    float: none;
    width: 180px;
    margin: 0 auto;
}
::-webkit-input-placeholder {
    color: rgb(79, 70, 69);
    text-transform: uppercase;
}
:-moz-placeholder {
    /* Firefox 18- */

    color: rgb(79, 70, 69);
    text-transform: uppercase;
}
::-moz-placeholder {
    /* Firefox 19+ */

    color: rgb(79, 70, 69);
    text-transform: uppercase;
}
:-ms-input-placeholder {
    color: rgb(79, 70, 69);
    text-transform: uppercase;
}
/*

    ----------------------------------------------------------------------
                                13 Media Queries
    ----------------------------------------------------------------------

*/
/* 400 + */

@media screen and (min-width: 25em) {
    #get-in-touch.channel p br {
        display: block;
    }
}
/* 640 + */

@media screen and (min-width: 40em) {
    #features .feature {
        width: 48%;
        margin: 0 1% 20px 1%;
        min-height: 300px;
    }
    #features .feature p {
        padding: 0 10px;
    }
    .products-list .product {
        width: 48%;
        float: left;
        margin: 0 1% 20px 1%;
    }
    .products-list .product .overlay .label-wrap {
        margin-top: 24%;
    }
    #contact #form .field {
        width: 48%;
        margin: 0 1% 20px 1%;
    }
    #contact #form .field.street-address,
    #contact #form .field.email,
    #contact #form .field.submit {
        width: 98%;
    }
    #contact #form .field.company-type {
        padding: 8px 0 0 0;
    }
    .single-product #other-products.products-list .product .overlay .label-wrap {
        margin-top: 37%;
    }
    .single-product #info #gallery {
        width: 66.6666%;
        padding: 0 75px 0 0;
    }
    .single-product #info #product-info {
        width: 33.3333%;
    }
}
/* 768 + */

@media screen and (min-width: 768px) {
    header {
        padding: 50px 0;
        height: 150px;
    }
    header > .backstretch {
        display: block;
    }
    header #logo {
        display: block;
        max-width: 330px;
        margin: 0 auto;
        float: none;
    }

nav a {
  text-decoration: none;
}
nav li {
  list-style: none;
}

/* menu container */
nav,
input {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}
nav {
    cursor: default;
    display: inline-block;
    position: relative;
    z-index: 500;
}

/* menu list */
nav > li {
    display: block;
    float: left;
}

/* menu links */
nav > li > a {
  background: #372f2b;
  border-left: 1px solid #4b4441;
  border-right: 1px solid #312a27;
  display: block;
  color: #fcfcfc;
  font-weight: bold;
  height: 54px;
  line-height: 54px;
  padding: 0 20px;
  position: relative;
  text-shadow: 0 0 1px rgba(0,0,0,.35);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  z-index: 510;
}
nav > li:hover > a {
  background: #4b4441;
}
nav > li:first-child > a {
  border-left: none;
  border-radius: 3px 0 0 3px;
}
/* menu dropdown */
div.dropdown-wrapper {
    background: #373637;
    border-radius: 0 0 3px 3px;
    position: absolute;
    display: block;
    left: 0;
    opacity: 0;
    overflow: hidden;
    top: 59px;
    -webkit-transition: all .3s ease .15s;
    transition: all .3s ease .15s;
    visibility: hidden;
    width: 100%;
}
li:hover > div.dropdown-wrapper {
    opacity: 1;
    overflow: visible;
    visibility: visible;
}
.nav-title {
    margin: 30px 0 10px;
    float: left;
    width: 100%;
}
.dropdown-wrapper .nav-title a {
    color: white;
    text-align: left;
    border: 2px solid;
    float: left;
    padding: 10px 20px;
}
.dropdown-wrapper .nav-title a {
    font-family: 'Sanchez Bold';
    font-size: 21px;
    letter-spacing: 1px;
    border: 2px solid;
    padding: 10px 20px;
    z-index: 10;
    width: 30%;
    float: left;
    display: inline-block;
    margin: 20px 0 10px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
}
.dropdown-wrapper .nav-title a:hover, .dropdown-wrapper  .nav-title a:active, .cooking-column h4 a:hover, .cooking-column h4 a:active {
    border: 2px solid #fff;
    color: #7d8b98!important;
}
.dropdown-wrapper  .nav-title a:hover:after, .cooking-column h4 a:hover:after {
    width: 101%;
    opacity: 1;
}
.dropdown-wrapper  .nav-title a:after, .cooking-column h4 a:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    width: 0;
    height: 103%;
    top: 50%;
    left: 50%;
    background: #fff;
    opacity: 0;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
/* menu content styles */
nav .nav-column {
    float: left;
    padding: 0 40px 30px 0;
    width: 25%;
}
nav .nav-column h4 {
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 0 0 5px 0;
    line-height: 18px;
    margin: 20px 0 10px 0;
    text-transform: uppercase;
    text-align: left;
    border-bottom: 1px solid;
}
.cooking-column {
    float: left;
    width: 25%;
    text-align: left;
}
.cooking-column h4 a {
    font-size: 12px;
    padding: 0;
    color: white;
    font-family: 'Sanchez Bold';
    border: 2px solid;
    padding: 10px;
    z-index: 10;
    float: left;
    display: inline-block;
    margin: 20px 0 10px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
}
nav .nav-column h3.orange {
  color: #fff;
}
.dropdown-wrapper ul li {
    text-align: left;
}
nav .nav-column li a {
    color: white;
    display: block;
    line-height: 26px;
    padding: 0;
}
nav .nav-column li a:hover {
  color: #666;
}
    header #mobile-nav {
        display: none;
    }
    header #crab {
        display: block;
    }
    header #header-contact {
        display: block;
        position: absolute;
        right: 5%;
        top: 15px;
        text-align: right;
    }
    header #header-contact h4 {
        font-size: 1em;
        font-weight: normal;
        letter-spacing: 1px;
        line-height: 1.25em;
    }
    header #header-contact h4 a {
        color: #ccc;
        text-transform: uppercase;
        letter-spacing: 0;
        font-weight: 700;
    }
    nav {
        background: #fff;
        display: block !important;
    }
    nav ul {
        margin: 0 auto;
        max-width: 1024px;
        text-align: center;
        padding: 0;
    }
    nav ul li {
        display: inline;
        position: inherit;
    }
    nav ul li a {
        padding: 20px 20px;
        display: inline-block;
    }
    footer .wrapper > div {
        margin: 0;
    }
    footer #footer-contact-info {
        width: 33.3333%;
    }

    footer #footer-nav {
        width: 33.3333%;
    }
    #hero {
        padding: 100px 0;
    }
    #hero .info {
        width: 60%;
        margin: 0 auto;
    }
    #home .products-list #large-crab {
        background: url(img/LargeTransparentCrab.png) no-repeat 0 0;
        width: 600px;
        height: 572px;
        position: absolute;
        bottom: -5%;
        right: -35px;
    }
    .single-product #hero .info {
        width: 100%;
        text-align: left;
        padding-left: 0;
        padding-right: 0;
    }
    #about #info {
        padding: 75px 0 300px 0;
    }
    #about #story .wrapper > div {
        width: 50%;
    }
    #about #story .photos {
        padding: 30px 15% 0 0;
    }
    #about #story .text {
        padding: 40px 0 0 0;
    }
    #features .feature {
        width: 23%;
    }
    #offerings #filters ul {
        display: table;
        margin: 0 auto;
        max-width: 1024px;
        text-align: center;
        padding: 0;
    }
    #offerings #filters ul li {
        display: inline;
    }
    #offerings #filters ul li a {
        padding: 20px 15px;
        display: inline-block;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 1em;
        line-height: 1em;
        color: #8b8b8b;
    }
    #offerings #filters ul li a span {
        display: block;
        border-bottom: 5px solid transparent;
        padding: 0 0 10px 0;
    }
    #offerings #filters ul li a:hover span,
    #offerings #filters ul li a.active span {
        color: #181718;
        border-bottom: 5px solid #181718;
    }
    .single-product #other-products {
        display: block;
    }
    .single-product #other-products .product {
        padding: 10px;
    }
}
/* 1024 + */

@media screen and (min-width: 64em) {

    nav ul li a {
        padding: 20px 25px;
    }
    div.dropdown-wrapper ul li a {
        text-transform: none;
    }
    nav.sticky {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99999;
        box-shadow: 0px 0px 12px 0 rgba(0, 0, 0, 0.2);
    }
    footer #footer-contact-info {
        width: 25%;
    }
    footer #footer-nav {
        width: 35%;
    }
    .products-list .product {
        width: 31.3333%;
    }
    .products-list .product .overlay .label-wrap {
        margin-top: 40%;
    }
    #features .feature h4 {
        height: 54px;
    }
}
/* 1200px + */

@media screen and (min-width: 75em) {

@import url("http://fonts.googleapis.com/css?family=Roboto");



    nav.sticky #sticky-logo {
        display: block;
        position: absolute;
        width: 150px;
        top: 0;
        left: -40px;
        z-index: 1000;
        background: #383738;
        border-top: 10px solid #60554e;
    }
    nav.sticky #sticky-logo a {
        display: block;
        padding: 25px 20px;
        border-bottom: 1px solid white;
    }
    .wrapper {
        padding: 0;
    }
    .single-product #other-products .slick-prev,
    .single-product #other-products .slick-next {
        display: inline;
        width: 40px;
        height: 62px;
        position: absolute;
        top: 50%;
        margin-top: -31px;
    }
    .single-product #other-products .slick-prev {
        background: url(img/Arrow_Left_Sprite.png) no-repeat 0 -4px;
        left: -80px;
    }
    .single-product #other-products .slick-prev:hover {
        background: url(img/Arrow_Left_Sprite.png) no-repeat 0 -84px;
    }
    .single-product #other-products .slick-next {
        background: url(img/Arrow_Right_Sprite.png) no-repeat 0 -4px;
        right: -80px;
    }
    .single-product #other-products .slick-next:hover {
        background: url(img/Arrow_Right_Sprite.png) no-repeat 0 -84px;
    }
}
